.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.text_area{
  flex: 1;
  margin:10px;
  padding: 10px; 
}

.JsonEditor {
  flex: 1;
  padding: 16px;
  background-color: #f9f9f9;
  overflow: auto;
}

.FormRenderer {
  flex: 1;
  padding: 16px;
  background-color: #fff;
  overflow: auto;
}

.ui_display{
  flex: 1;
  margin:10px;
  padding: 10px; 
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  display: block;
  margin-top: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}
