.app {
  display: flex;
  height: 100vh;
  
}

.heading{
  text-align: center;
  color: white;
}

.editor-container {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  margin-right: 25px;
}

.preview-container {
  flex: 1;
  padding: 15px;
  box-sizing: border-box;
  margin-left: 25px;
  background-color: #dbcdf1;
  margin-top: 10px;
  border-radius: 10px;
  overflow-y: scroll;
  font-size: 10px;
}

textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  font-size: 15px;
  font-family: inherit;
  padding: 10px;
  background-color: #1e1e1e;
  color: white;
  border-radius: 10px;
}

input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 15px;
  font-family: inherit;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 2px;
}

button[type="submit"] {
  display: none;
}


@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }
  .editor-container,
  .preview-container {
    flex: initial;
  }
}



html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}
